
body {
    font-family: "Comic Sans MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.page-container {
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for the main content and auto for the footer */
    min-height: 100vh; /* 100vh = 100% of the viewport height */
}

header {
    background-color: rgb(131, 104, 204);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

header h1 {
    margin: 0;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}
header div a h1{
    color:rgb(255, 255, 255);
    font-family: "Comic Sans MS";
}

header nav a:hover {
    background-color: #5b9cfd;
    color: rgb(255, 255, 255);
}

header nav a {
    border-radius: 15px;
}

header nav {
    display: flex;
    margin-left: auto; /* pushes the nav bar to the right */
}

header #login-link, header #signup-link {
    margin-right: 20px;
}

@media (max-width: 600px) {
    #close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

#featured-manhwa {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex-wrap: wrap;
}

#featured-manhwa img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

#featured-manhwa .box:hover {
    transform: scale(1.05);
}

#featured-manhwa .box {
    transition: transform 200ms ease-in-out 20ms
}

#featured-manhwa h2 {
    margin-bottom: 20px;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}

#featured-manhwa li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
}

#featured-manhwa ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 20px;
    padding-inline-start: 3%;
    padding-inline-end: 3%;
    flex-wrap: wrap;
}

#latest-chapters {
    /* width: 30%; */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#latest-chapters h2 {
    margin-bottom: 20px;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}

#latest-chapters li {
    list-style: none;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    grid-row: 2;
}

.page-container > main {
    grid-row: 1;
}

header .title a:hover {
    background-color: none;
    color: inherit;
    border-radius: 0;
}

#menu-icon {
    display: none;
}

@media only screen and (max-width: 1070px) {
    #menu-icon {
        display: block;
    }
}

@media only screen and (max-width: 1070px) {
    #nav-options {
        display: none;
    }
}

#dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    overflow: hidden;
}

#dropdown-menu a {
  padding: 12px 16px;
  margin: 8px 0;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#dropdown-menu a:hover {
  background-color: #f1f1f1;
  color: #000;
}


/* manhwa.html */
#all-manhwa {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

#all-manhwa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#all-manhwa li {
    width: 30%;
    margin: 1%;
    text-align: center;
}

#all-manhwa a.box {
    display: block;
    text-decoration: none;
    color: black;
}

#all-manhwa h2 {
    margin-bottom: 20px;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}

#all-manhwa h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

#all-manhwa .container {
    display: flex; /* make container a flex container */
    flex-wrap: wrap; /* allow items to wrap to next row */
    width: 80%; /* set fixed width to the container */
    margin: 0 auto; /* center the container */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
    justify-content: space-evenly; 
}

#all-manhwa .item {
    min-width: 15%; /* set fixed width to the items */
    margin: 20px 1%; /* set fixed margin to the top and bottom of the items to be 20px and left and right to be 5% */
    text-align: center; /* center the text within the items */
    border-radius: 10px; /* round the border of the items */
    transition: all 0.2s ease-in-out; /* add smooth transition */
    background-color: #ffffff;
    border-bottom: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    max-width: 200px;
}

#all-manhwa .item:hover {
    transform: scale(1.03); /* scale the item up by 10% when hovered */
    box-shadow: 5px 5px 10px #ccc; /* add a box shadow */
    cursor: pointer; /* change cursor to pointer */
}

#all-manhwa .item h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

#all-manhwa .item p {
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
}

#all-manhwa .rating {
    text-decoration: underline;
}

#all-manhwa div .item {
    color: black;
    text-decoration: none;
}

#all-manhwa div .item.hiatus {
    background-color: rgb(255, 132, 132);
}

#all-manhwa div .item.completed {
    background-color: rgb(130, 174, 255);
}

#all-manhwa div .item.unread {
    background-color: rgb(255, 231, 126);
}

#loading {
    display: none;
    text-align: center;
}

#sort-options {
    height: 30px;
    width: 150px;
}

#sort-reset-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* FANCY RESET BUTTON */

#reset-button {
    position: relative;
    margin: 10px;
    padding: 12px 20px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
  
#reset-button span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

#reset-button:hover {
    animation: rotate624 0.7s ease-in-out both;
}

#reset-button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
    transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    }
}

#reset-button:active {
    background-color: #1d89ff;
}

.btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btn-shine span {
    z-index: 20;
}

.btn-shine:after {
    background: #1d89ff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* END */

.progress-bar {
    width: 100%; /* width of the progress bar */
    height: 20px; /* height of the progress bar */
    background-color: #ddd; /* background color of the progress bar */
    border-radius: 5px; /* rounding of the edges of the progress bar */
    margin-bottom: 5px;
}