/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dom    ain)
   RESET CSS CODE
*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: black;
    background-color: white;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    line-height: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------------------------*/
/*------------------------------------ My Edits -------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.Title,
.SubTitle,
.ListItem {
    font-weight: bold;
}

.Title {
    padding: 15px;
    width: 100%;
    display: inline-block;
    color: white;
    background-color:rgb(0, 106, 218);
    font-size: 25px;
}
.Title .Homepage {
    text-decoration: none;
}

.SubTitle {
    color: rgb(0, 51, 0);
    font-size: 35px;
    margin: 0px;
    width: 100%;
    display: inline-block;
    padding: 30px;
    text-align: center;
}

.wrapper {
    width: auto;
    float: right;
    padding: 0px;
    text-align:justify; 
}

.wrapper span {
    display: inline-block;
    font-size: 15px;
    margin-inline: 30px;
}

a,
.wrapper span,
.wrapper {
    background-color: inherit;
    color: white;
}

span:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

ol, ul {
    display: flex;
}

ol {
    list-style-type: decimal;
}

div ol {
    display: block;
    width: fit-content;
    margin: 20px;
    margin-top: -25px;
    margin-bottom: 10px;
    padding: 20px;
}

.LInopictures {
    display: block;
    padding: 10px;
    font-size: 25px;
    color: black
}

.boxwithpicture,
.pictureandwords {
    list-style-position: inside;
    text-align: center;
    width: 100%;
    padding: 0px;
    background-color: lightgray;
}

.boxwithpicture {
    padding: 20px;
    background-color: lightgray;
}

.ListItem:hover,
.LInopictures:hover {
    color:rgb(0, 106, 218);
}

.pictureandwords:hover {
    transform: scale3d(1.03, 1.03, 1.03);
}

span,
.pictureandwords,
.LInopictures {
    transition: transform 300ms ease-in-out 20ms;
}

.ListItem {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

/* Image Stuff */

img {
    height: 400px;
    width: 250px;
}

/* Image Stuff */

#othertitle {
    margin: 20px;
    margin-top: 70px;
    text-decoration: underline solid;
    font-size: 40px;
}